<bitty-5-0 
  data-connect="/scripts/theme-switcher.js"k
  data-send="loadSwitcher"
  >
  <div data-receive="loadSwitcher"></div>

  <!--
    <label>
      <input type="radio" name="mode" value="auto" data-send="changeTheme" data-receive="initTheme" /> 
        Auto
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" value="light" data-send="changeTheme" data-receive="initTheme" /> 
      Light
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" value="dark" data-send="changeTheme" data-receive="initTheme" /> 
      Dark
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" value="hc" data-send="changeTheme" data-receive="initTheme" /> 
      High Contrast
    </label>
  </div>
-->

</bitty-5-0>
