<bitty-4-0 data-connect="/scripts/page.js">
  <div>
    <label>
      <input type="radio" name="mode" data-param="auto" data-send="changeTheme" data-receive="initValue" /> 
        Auto
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" data-param="light" data-send="changeTheme" data-receive="initValue" /> 
      Light
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" data-param="dark" data-send="changeTheme" data-receive="initValue" /> 
      Dark
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" data-param="hc" data-send="changeTheme" data-receive="initValue" /> 
      High Contrast
    </label>
  </div>
</bitty-4-0>
