<bitty-4-0 
  data-connect="/scripts/page.js"k
  data-send="initTheme"
  >
  <div>
    <label>
      <input type="radio" name="mode" value="auto" data-send="changeTheme" data-receive="initTheme" /> 
        Auto
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" value="light" data-send="changeTheme" data-receive="initTheme" /> 
      Light
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" value="dark" data-send="changeTheme" data-receive="initTheme" /> 
      Dark
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="mode" value="hc" data-send="changeTheme" data-receive="initTheme" /> 
      High Contrast
    </label>
  </div>
</bitty-4-0>
