.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
}

.code-block {
  border: 1px solid white;
  background-color: #222;
  color: #ddd;
  border-radius: var(--default-radius);
  margin: var(--default-margin);
  padding: var(--xlarge-padding);
  font-size: var(--small-font);
}

hgroup {
  margin-top: var(--large-margin);
  padding-bottom: var(--large-padding);
}

.page-subtitle {
  color: var(--default-faded);
  border-bottom: var(--accent-border);
}
