.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
}

.code-block {
  background: var(--match-faded);
  border-radius: var(--default-radius);
  margin: var(--default-margin);
  padding: var(--default-padding);
}

hgroup {
  margin-top: var(--large-margin);
  padding-bottom: var(--large-padding);
}

.page-subtitle {
  color: var(--default-faded);
  border-bottom: var(--accent-border);
}