      :root {
        --dark--link: blue;
        --dark--background: black;
        --dark--color: white;
        --hc--link: green;
        --hc--background: black;
        --hc--color: yellow;
        --light--link: goldenrod;
        --light--background: slategray;
        --light--color: black;
      }

