      :root {
        --light--link: goldenrod;
        --light--background: slategray;
        --light--color: black;
        --dark--link: blue;
        --dark--background: black;
        --dark--color: white;
        --high-contrast--link: green;
        --high-contrast--background: black;
        --high-contrast--color: yellow;
      }

