@media (prefers-color-scheme: dark) {
  :root {
    --link: var(--link--switch, var(--dark--link));
    --background: var(--background--switch, var(--dark--background));
    --color: var(--color--switch, var(--dark--color));
  }
}

