      @media (prefers-color-scheme: dark) {
        :root {
          --link: var(--dark--link);
          --background: var(--dark--background);
          --color: var(--dark--color);
        }
      }

