      a {
        color: var(--link--switch, var(--link));
      }

      body {
        background-color: 
          var(--background--switch, var(--background));
        color: var(--color--switch, var(--color));
      }

